name: Run Tests

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install latest Neovim (>= 0.10)
        run: |
          # Download latest stable Neovim AppImage
          curl -LO https://github.com/neovim/neovim/releases/download/v0.11.5/nvim-linux-arm64.appimage
          
          # Make it executable
          chmod u+x nvim.appimage
          
          # Extract and install
          ./nvim.appimage --appimage-extract
          sudo mv squashfs-root /opt/neovim
          sudo ln -s /opt/neovim/AppRun /usr/bin/nvim

          # Check version
          nvim --version

      - name: Run tests
        run: make test
